extends base/test

block append vars
	- var title = 			'test #2'
	- var scriptModule = 	'test-2.js'
	- var consoleMode = 	'bottom'

block style
	script(src='TweenMax.min.js')
	style
		include:sass test-1.sass

block stage

	.wrapper
		section(style='background-color:#A5D5FF') hello
		section(style='background-color:#FFE5B6') how are
		section(style='background-color:#FEB0B4') you ?
		.border