body
	--body-padding: 32px
	padding: var(--body-padding)
	overflow: hidden
	font-family: 'Roboto Mono', monospace

div.stage
	position: relative
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	z-index: 1

div.console
	overflow: hidden
	padding: var(--body-padding)
	box-shadow: inset rgba(0,0,0,.025) 1px 4px 10px 0px
	line-height: 1.3em
	z-index: 2
