html

	block vars
		- var title = 'test page'

	head
		title #{title}
		link(rel='stylesheet', type='text/css', href='/reset.css')
		style
			include:sass style.sass
		if (consoleMode === 'bottom')
			style
				include:sass console-bottom.sass
		block style


	body
		div.console
			pre
				div.lines
		div.stage
			block stage

		script.

			(function(){

				let consolePre = document.querySelector('div.console pre')

				let consoleLog = console.log

				let spanLogs = []

				console.log = function(...args) {

					consoleLog(...args)

					let span = document.createElement('span')
					span.innerHTML =  args.join(' ') + '\n'
					consolePre.append(span)

					spanLogs.push(span)
					if (spanLogs.length > 120)
						spanLogs.shift().remove()

					consolePre.parentElement.scrollTop = consolePre.parentElement.scrollHeight

				}

				let lines = {}

				console.line = function(key, ...args) {

					if (!lines[key]) {

						let div = document.createElement('div')
						div.classList.add('line')
						div.innerHTML = key + ' ' + args.join(' ')
						document.querySelector('pre div.lines').append(div)

						lines[key] = { div }

					} else {

						lines[key].div.innerHTML = key + ' ' + args.join(' ')

					}

				}

			})()
				
			console.log('#{title}')

		if (scriptModule)
			script(type='module').
				import * as main from './#{scriptModule}'
				Object.assign(window, main)

		block script
